# DuckDB headers
recursive-include external/duckdb/src/include *.h *.hpp

include LICENSE
include README.md
include pyproject.toml
include setup.py

recursive-include src/bareduckdb *.pyx *.pxd *.hpp *.cpp
recursive-include src/bareduckdb/_libs *.dylib *.so

global-exclude *.pyc
global-exclude *.pyo
global-exclude __pycache__
global-exclude *.abi3.so
global-exclude *.cpython-*.so
